html {
  font-family: monospace;
  height: 100%;
  background-color: var(--bg-html-color);
}

a, p, h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}

hr {
  height: 1px;
  width: 100%;
  background-color: var(--bg-color-secondary);
  border: none;
}

.full-height {
  flex: 1
}

.col {
  display: flex;
  flex-direction: column;
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-sm {
  font-size: 0.3em;
  margin-left: 5px;
}

.text-xxl {
  font-size: 3rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gap-1 {
  gap: var(--gap-1);
}

.row-gap-1 {
  row-gap: var(--gap-1);
}


header {
  background: linear-gradient(10deg, rgb(201, 128, 128), rgb(157, 111, 183));
  border-bottom: solid 1px var(--border-color-primary);
  text-align: left;
  padding-left: 1rem;
}

section {
  padding: 5px;
}

button {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--btn-color);
  color: var( --text-secondary);
  border-radius: var(--border-radius);
  font-size: larger;
  border: 1px solid var(--border-color-secondary);

  &:hover {
    background-color: var(--btn-color-hover);
    cursor: pointer;
  }

  &.unselected {
    border-bottom: 3px solid var(--bg-color-secondary);
    filter: brightness(85%);
  }
}

input {
  background-color: #fefefe;
  font-size: 15pt;
  border: unset;
}

label {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: unset;
  text-align: center;
  font-size: 0.75rem;
  opacity: 30%;
  padding: 5px;
}

[inert] {
  /* visibility: hidden; */
  filter: opacity(0.75);
}

.box-shadow {
  box-shadow: 0px 4px 4px rgba(89, 21, 47, 0.415);
}