@media only screen and (max-device-width: 300px)
{
  .full-page-sm {
    width: 100vw;
    height: 100vh;
    margin: unset;

    transition: all 100ms;
  }

  .no-border-radius-sm {
    border-radius: 0;
    border: unset;
  }

  .display-none-sm {
    display: none;
  }

  .flex-col-sm {
    display: flex;
    flex-direction: column;
  }

  .flex-row-sm {
    display: flex;
    flex-direction: row;
  }
}