
html, body {
  font-family: unset;
  margin: 0;
}

a, p, h1, h2, h3, h4, h5, h6 {
  padding: unset;
  margin: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
