* {
  font-family: unset;
}

html, body {
  font-family: monospace;
  height: 100%;
  margin: 0;
  background-color: #3d3d3f;
  color: rgb(31, 24, 24);
  --border-radius: 5px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
  background: linear-gradient(45deg, #8f5757, #99a0ef);
  max-width: 300px;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: 0 10px 20px rgba(89, 21, 47, 0.415);
  overflow: hidden;
  border: 1px solid rgb(87, 7, 75);

  display: flex;
  flex-direction: column;
  gap: 5px;
  
  .title {
    background-color: #41072e61;
    font-size: 25pt;
    text-shadow: 0px 1px 5px rgba(51, 4, 22, 0.619);
    color: #e5beeebc;
    margin: unset;
  }
}

.buttons {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  column-gap: 4px;
}

button {
  padding: 10px;
  min-width: 50px;
  background-color:rgba(34, 35, 47, 0.939);
  color: white;
  border-radius: var(--border-radius);
  font-size: larger;
  border: 1px solid rgba(251, 167, 252, 0.91);
}

input {
  background-color: #fefefe;
  border-radius: var(--border-radius);
  font-size: 15pt;
  max-width: 4rem;
  padding-left: 0.5rem;
}

.playButton {
  display: flex;
  gap: 5px;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  min-width: 2.5cm;
}

.diode {
  background-color: red;
  box-shadow: 0 0 10px red;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 100%;
  align-self: center;
}

.description {
  margin: unset;
  padding: 3px;
  color: rgba(26, 4, 19, 0.6);
  width: 100%;
  text-align: left;
}