
html, body {
  font-family: monospace;
  height: 100%;
  margin: 0;
  background-color: #3d3d3f;
  --bg-color-primary: rgba(34, 35, 47, 0.939);
  --bg-color-secondary: rgba(153, 142, 195, 0.939);
  --btn-color: rgba(34, 35, 47, 0.939);
  --btn-color-hover: rgba(62, 64, 86, 0.939);
  --border-radius: 5px;
  --border-color-primary: rgb(87, 7, 75);
  --border-color-secondary: rgba(251, 167, 252, 0.91);
  --text-primary: rgb(31, 24, 24) ;
  --text-seconday: #fff;
  --gap-1: 2px;
  --gap-2: 4px;
  --gap-3: 16px;
}

.mt-3 {
  margin-top: 8px;
}

.mt-5 {
  margin-top: 16px;
}

body {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
  padding: unset;
  margin: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.App {
  background: linear-gradient(0deg, #f4bebe, #99a0ef);
  max-width: 90vw;
  min-width: 200px;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: 0 10px 20px rgba(89, 21, 47, 0.415);
  overflow: hidden;
  border: 1px solid var(--border-color-primary);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 4px;
}

header {
  background-color: #e740af61;
  font-size: 25pt;
  text-shadow: 1px 1px 2px rgba(27, 23, 95, 0.711);
  color: #f7d6ffbc;
  margin: unset;
  padding-left: 1rem;
  padding-right: 1rem;
}

[inert] {
  /* visibility: hidden; */
  filter: contrast(0.5);
}

section {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--bg-color-secondary);
  margin-bottom: 5px;
}

section.controls {
  display: flex;
  gap: var(--gap-1);
  justify-content: space-between;
}

button {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--btn-color);
  color: var(--text-seconday);
  border-radius: var(--border-radius);
  font-size: larger;
  border: 1px solid var(--border-color-secondary);
}

button:hover {
  background-color: var(--btn-color-hover);
  cursor: pointer;
}

input {
  background-color: #fefefe;
  font-size: 15pt;
  max-width: 4rem;
  padding-left: 0.5rem;
  border: unset;
}

label {
  display: flex;
  align-items: center;
}

.modes > button {
  height: 1.5rem;
}

section.variation {
  display: grid;
  gap: var(--gap-3);
  align-items: start;
  grid-template-columns: 1fr ;
}

.ValueInputFieldRange {

  display: flex;
  flex-direction: column;
  gap: var(--gap-3);

  .ValueInputField {
    margin-top: var(--gap-2);
  }
}

.FormGroup {
  display: flex;

  * {
    border-radius: 0;
  }

  button {
    font-size: 0.8rem;
  }

  :not(&:last-child) {
    border-right-width: 0;
  }

  :first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  :last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}

.FormGroup .off {
  opacity: 0.5;
}

.tempo-range {
  display: flex;
  gap: var(--gap-3)
}

.playButton {
  display: flex;
  gap: 5px;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  min-width: 2.5cm;
}

.diode {
  background-color: red;
  box-shadow: 0 0 10px red;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 100%;
  align-self: center;
}


.version {
  font-size: 0.4em;
  margin-left: 5px;
}

.divider {
  height: 0;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.286);
}

.ValueInputField-group {
  filter: drop-shadow(-1px 2px 2px rgba(1, 151, 185, 0.575))
}

.ValueInputField-label {
  background-color: rgb(251, 190, 255);
  margin-top: 5px;
  margin-bottom: -5px;
  padding: 0.2rem;
  padding-bottom: calc(0.2rem + 5px);
  justify-self: left;
  min-width: 50%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-size: 0.8rem;
}

.ValueInputField {
  display: flex;

  button {
    display: flex;

    &::after {
      height: 5%;
      font-size: 0.8rem;
    }
  }

  button {
    :first-child {
      height: 75%;
    }
  }
  button:first-child, button:last-child {
    &::after {
      height: 5%;
      font-size: 0.8rem;
    }
  }

  button:nth-child(2), button:nth-last-child(2)  {
    &::after {
      height: 5%;
      font-size: 1rem;
    }
    border-radius: unset
  }

  button span {
    font-size: 0.9rem;
    margin-top: auto;
  }

  .ValueInputField-div {
    display: flex;
    border: 1px solid rgba(251, 167, 252, 0.91);
  }
  
  .ValueInputField-input {
    text-align: right;
    border-radius: 0;
  }

  .ValueInputField-unit {
    background-color: white;
    color: #b0b0b0;
    padding: 0.1rem;
    border-radius: 0;
  }
}


footer {
  display: flex;
  justify-content: space-between;
  margin: unset;
  text-align: center;
  font-size: 0.75rem;
  opacity: 30%;
}

.what-s-new {
  text-decoration: underline;
  cursor: pointer;
}
